body{
    height:900px;
    width:1200px;
}

.products-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: blueviolet solid 2px;
    padding:0px;
    width:250px;
    margin-bottom:50px;
    border-radius: 10px
}

.btn-all{
    border-radius: 10px;
    border-color: darkturquoise;
    padding: 10px;
}

.price-input{
    width:30px
}

.products-detail{
     margin: 0 auto;
    align-content: left;
    align-items: center;
    text-justify: newspaper;
    
}

.btn-sort{
    margin: 10px
}